@model PaperPlaneAirlines.ViewModels.BookingVM;

@{
    ViewData["Title"] = "Booking Confirmed";
}

<div class="container mt-5 text-center">
    <div class="card p-4">
        <h1 class="mb-4">Boeking Bevestigd!</h1>
        <p class="lead">Bedankt voor uw vertrouwen in Paper Plane Airlines ✈️</p>
        <p>Je ontvangt weldra een bevestigingsemail met de details van je boeking</p>
        <a href="/" class="btn btn-light btn-outline-dark mt-4 w-auto align-self-center">Zoek een volgende vlucht</a>
    </div>
    <div class="mt-5">
        <h2 class="mb-3">Interessante Hotels in @Model.ToCity.Name</h2>
        <div class="row" id="hotels-placeholder">
            <p>Loading...<p/>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            const toCity = '@Model.ToCity.Name';
            const fromDate = '@Model.FromDate.ToString("yyyy-MM-dd")';
            const toDate = '@Model.FromDate.AddDays(5)';

            $.get("/Booking/GetHotelsPartial/", {
                toCity: toCity,
                fromDate: fromDate,
                toDate: toDate
            }).done(function (html) {
                $("#hotels-placeholder").html(html);
            }).fail(function () {
                $("#hotels-placeholder").html("<p>Failed to load hotels.</p>");
            });
        });
    </script>
}
