@using System.Net
@model List<PaperPlaneAirlines.ViewModels.HotelVM>;

@{
    ViewData["Title"] = "Booking Confirmed";
}

<div class="container mt-5 text-center">
    <div class="card p-4">
        <h1 class="mb-4">Boeking Bevestigd!</h1>
        <p class="lead">Bedankt voor uw vertrouwen in Paper Plane Airlines ✈️</p>
        <p>Je ontvangt weldra een bevestigingsemail met de details van je boeking</p>
        <a href="/" class="btn btn-light btn-outline-dark mt-4 w-auto align-self-center">Zoek een volgende vlucht</a>
    </div>
    <div class="mt-5">
        <h2 class="mb-3">Interessante Hotels in @Model[0].City</h2>
        <div id="hotel-list" class="d-flex flex-wrap justify-content-center gap-3">
            @foreach (var hotel in Model)
            {
                @await Html.PartialAsync("_HotelDetailsPartial", hotel)
            }
        </div>
    </div>
</div>
