@model PaperPlaneAirlines.ViewModels.FlightSelectionVM

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="mb-5">
    @await Html.PartialAsync("_BookingDetailsPartial", Model.Booking)
</section>

<section>
    <div class="card">
        <div class="card-header">
            @{
                var flightType = Model.FlightType.Equals(FlightType.Outbound) ? "heenvlucht" : "terugvlucht";
                <h3>Selecteer een @flightType</h3>
            }
        </div>
        <div class="card-body">
            @{
                if (Model.BookingOptions.Count == 0)
                {
                    <div class="text-center fst-italic">No flights found. Try different filter settings.</div>
                }
                else
                {
                    @await Html.PartialAsync("_BookingOptionsPartial", @Model.BookingOptions)        
                }
            }
        </div>
    </div>
</section>
